@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&subset=cyrillic&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
}

body {
  background-color: #e9ecef;
}

.fullscreen .modal {
  background-color: #e9ecef;
}

.fullscreen .modal .modal-dialog {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 33%;
  margin: inherit auto;
}

label.error {
  position: absolute;
  color: #dc3545;
  font-size: small;
}

input.valid {
  border-color: forestgreen;
}

input.error {
  border-color: #dc3545;
}

.title i ~ span {
  margin-left: 1rem;
}